<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOccuranceService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:4652/OccuranceService.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOccuranceService"
            contract="SubSStringOccuranceServiceReference.IOccuranceService"
            name="BasicHttpBinding_IOccuranceService" />
    </client>
    <services>
      <!-- Note: the service name must match the configuration name for the service implementation. -->
      <service name="SubStringOccurance.OccuranceService">
        <!-- Add the following endpoint.  -->
        <!-- Note: your service must have an http base address to add this endpoint. -->
        <endpoint contract="SubStringOccurance.IOccuranceService" binding="basicHttpBinding" address="" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Add the following element to your service behavior configuration. -->
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>