extends layout/index

block navigation
    ul.nav.navbar-nav
        each nav in ['Home', 'Phones', 'Tablets', 'Wearables']
            li(class=  nav == 'Wearables' ? "active" : "")
                a(href='/' + nav)= nav

block container
    h1(style='margin-top: 60px')  Wearables
    #container
        each watch, i in wearables
            div(style='float: left; width: 50%')
                h2
                    = watch.name
                img(src= watch.imageUrl)
                p= 'Announced: ' + watch.announced
            if i % 2 !== 0
                div(style='clear: left')