<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Files</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Upload Files</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/upload">Upload Files</a></li>
                    <li><a href="/all">All Files</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <form action="/upload" enctype="multipart/form-data" method="post">
        <p>
            Type some text (if you like):<br>
            <input type="text" name="textline" size="30">
        </p>
        <p>
            Please specify a file, or a set of files:<br>
            <input type="file" name="datafile" size="40">
        </p>
        <div>
            <input type="submit" value="Send">
        </div>
    </form>
</body>
</html>